In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_json('../data/omdb-data.json.gz', lines=True)

In [4]:
df

,imdb_id,omdb_awards,omdb_genres,omdb_plot
0,tt0060814,Nominated for 2 Oscars. Another 2 nominations.,"[Drama, History, War]","In this sprawling, star-laden film, we see the..."
1,tt2379713,Won 1 Oscar. Another 7 wins & 32 nominations.,"[Action, Adventure, Thriller]",A cryptic message from the past sends James Bo...
2,tt0230575,N/A,"[Comedy, Horror]","The makers of this parody of ""Night of the Liv..."
3,tt0065988,Nominated for 1 Oscar. Another 5 wins & 8 nomi...,"[Adventure, Comedy, Drama]",Jack Crabb is 121 years old as the film begins...
4,tt1995390,2 nominations.,"[Crime, Drama, Thriller]","When Perry and his girlfriend, Gail, cross pat..."
5,tt0066921,Nominated for 4 Oscars. Another 9 wins & 19 no...,"[Crime, Drama, Sci-Fi]","Protagonist Alex DeLarge is an ""ultraviolent"" ..."
6,tt1298650,2 wins & 31 nominations.,"[Action, Adventure, Fantasy]",Captain Jack Sparrow (Depp) crosses paths with...
7,tt0069947,Nominated for 1 Oscar. Another 1 win & 10 nomi...,"[Crime, Drama, Thriller]",It is the early 60s in France. The remaining s...
8,tt0116629,Won 1 Oscar. Another 34 wins & 34 nominations.,"[Action, Adventure, Sci-Fi]","On July 2nd, communications systems worldwide ..."
9,tt0057012,Nominated for 4 Oscars. Another 13 wins & 7 no...,"[Comedy, War]",Paranoid Brigadier General Jack D. Ripper of B...
10,tt1568346,Won 1 Oscar. Another 27 wins & 90 nominations.,"[Crime, Drama, Mystery]",This English-language adaptation of the Swedis...
11,tt1504320,Won 4 Oscars. Another 102 wins & 194 nominations.,"[Biography, Comedy, Drama]",England's Prince Albert must ascend the throne...
12,tt0120737,Won 4 Oscars. Another 113 wins & 123 nominations.,"[Adventure, Drama, Fantasy]",An ancient Ring thought lost for centuries has...
13,tt0800080,1 win & 8 nominations.,"[Action, Adventure, Sci-Fi]",Depicting the events after the Gamma Bomb. 'Th...
14,tt1226229,14 nominations.,"[Adventure, Comedy, Music]",English rock star Aldous Snow relapses into dr...
15,tt2395427,7 wins & 45 nominations.,"[Action, Adventure, Sci-Fi]",Tony Stark creates the Ultron Program to prote...
16,tt0368891,1 win & 9 nominations.,"[Action, Adventure, Family]",Benjamin Franklin Gates descends from a family...
17,tt0057076,Nominated for 1 Golden Globe. Another 3 wins &...,"[Action, Adventure, Thriller]",James Bond 007 is on the search for a Russian ...
18,tt0371746,Nominated for 2 Oscars. Another 20 wins & 65 n...,"[Action, Adventure, Sci-Fi]","Tony Stark. Genius, billionaire, playboy, phil..."
19,tt2381249,6 wins & 23 nominations.,"[Action, Adventure, Thriller]",CIA chief Hunley (Baldwin) convinces a Senate ...
20,tt0434409,7 wins & 27 nominations.,"[Action, Drama, Sci-Fi]",Tells the story of Evey Hammond and her unlike...
21,tt0816711,3 wins & 24 nominations.,"[Action, Adventure, Horror]",Life for former United Nations investigator Ge...
22,tt0241527,Nominated for 3 Oscars. Another 17 wins & 62 n...,"[Adventure, Family, Fantasy]","This is the tale of Harry Potter, an ordinary ..."
23,tt0480249,9 wins & 22 nominations.,"[Drama, Horror, Sci-Fi]",Robert Neville is a scientist who was unable t...
24,tt0115956,9 wins & 7 nominations.,"[Action, Drama, Mystery]","The pilot of a rescue copter, Captain Karen Wa..."
25,tt1194173,1 win & 11 nominations.,"[Action, Adventure, Mystery]",The events in this movie take place around the...
26,tt2872732,1 win & 11 nominations.,"[Action, Sci-Fi, Thriller]",It was supposed to be a simple job. All Lucy h...
27,tt0383574,Won 1 Oscar. Another 42 wins & 53 nominations.,"[Action, Adventure, Fantasy]",Once again we're plunged into the world of swo...
28,tt0102926,Won 5 Oscars. Another 54 wins & 44 nominations.,"[Crime, Drama, Thriller]",FBI trainee Clarice Starling works hard to adv...
29,tt0064757,Nominated for 1 Golden Globe. Another 1 win & ...,"[Action, Adventure, Thriller]",George Lazenby steps into the role of James Bo...
...,...,...,...,...
9646,tt0369738,N/A,"[Action, Drama]",A retired Diplomat and an NYPD Detective seeki...
9647,tt3469798,2 nominations.,"[Drama, Romance, Sci-Fi]",Helena is a young girl who spent all her life ...
9648,tt0432348,4 wins & 8 nominations.,"[Horror, Mystery]",When detective Eric Matthews is called to a cr...
9649,tt0220570,2 wins.,[Drama],The story is about a stripper's relationships ...
9650,tt0029855,Nominated for 4 Oscars. Another 1 win & 1 nomi...,"[Drama, Mystery, Romance]","Pepe Le Moko, a thief who escaped from France ..."
9651,tt0299422,1 win.,[Comedy],A dark comedy about three salesmen from Detroi...
9652,tt0387564,8 wins & 10 nominations.,"[Crime, Horror, Mystery]",Waking up in a undisclosed location in a unkno...
9653,tt1821362,N/A,[Comedy],Two black brothers send back to slavery time
9654,tt3276924,N/A,"[Action, Crime, Thriller]",When their attempt to rob a casino owned by th...
9655,tt3805180,N/A,"[Comedy, Crime]",Tim and Dan - fellow losers from a provincial ...
9656,tt0092033,N/A,[Drama],"Sharda, a nurse and single mother, raises her ..."
9657,tt0120514,Nominated for 1 Golden Globe. Another 4 wins &...,"[Biography, Drama, Romance]","The story of Oscar Wilde, genius, poet, playwr..."
9658,tt0078870,1 win & 1 nomination.,"[Adventure, Comedy]",A rediscovered classic from director Ken Loach...
9659,tt1819769,N/A,[Drama],Ray enrolls in art school where he makes new f...
9660,tt0087313,N/A,"[Comedy, Drama]",Estelle is a one-person protest army: she goes...
9661,tt2318405,4 wins & 7 nominations.,"[Action, Adventure, Fantasy]","In WW2, after a tank battle, a wounded Soviet ..."
9662,tt0254617,N/A,"[Comedy, Romance]",A young woman is in Orlando visiting her ailin...
9663,tt0266489,2 nominations.,[Comedy],Alex Rose and Nancy Kendricks are a young coup...
9664,tt0280962,4 wins & 2 nominations.,"[Crime, Horror, Romance]",A terrifying love triangle. An original twist ...
9665,tt0298491,10 wins & 3 nominations.,"[Drama, Fantasy, Thriller]","Nicklas lives a pretty normal teenage life, un..."
9666,tt0978702,N/A,[Drama],"Raghavendra, Vishnu, Chinna, and Vamsi are bro..."
9667,tt0096219,3 wins & 5 nominations.,[Drama],An acerbic radio talk show host based in Dalla...
9668,tt1986994,N/A,"[Fantasy, Horror, Thriller]","""Season of the Equinox, the witch besets her k..."
9669,tt1183487,5 wins.,[Drama],Colin Mc Nally couldn't give a toss about the ...
9670,tt0113101,1 win & 1 nomination.,[Comedy],This movie features the collaborative director...
9671,tt0052365,2 wins & 1 nomination.,"[Action, Adventure]",Einar and Eric are two Viking half-brothers. T...
9672,tt0088099,2 wins & 1 nomination.,"[Comedy, Drama, Romance]",In lieu of love and affections from his multi-...
9673,tt5580036,Nominated for 3 Oscars. Another 31 wins & 109 ...,"[Biography, Comedy, Drama]",Competitive ice skater Tonya Harding rises amo...
9674,tt2244376,16 wins & 34 nominations.,[Drama],Plot: Bwakaw is a drama-comedy about growing o...
9675,tt4986098,N/A,"[Sci-Fi, Thriller]",A military family takes part in a ground-break...